/**
 * 
 * This function receives two CSS variables and performs a color mixing where:
 * - The first variable ($background-color) is the base color for mixing
 * - The second variable ($opacity-color) is the color that contains the opacity tone
 * 
 * How it works:
 * 1. From the second variable declaration, we obtain the declaration of its complement
 * 2. We calculate the complement percentage and the opacity color percentage
 * 3. To perform the mixing, we use the base color with the complement percentage
 * 4. We extract the color without alpha from the opacity color using rgb()
 * 5. We add the alpha percentage using the color-mix notation
 *
 * Check following links for more information:
 * - https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/color-mix
 * - https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/rgb
 * 
 * Usage:
 * .element {
 *   background-color: color-mix-alpha(--ads-color-primary-500, --ads-color-state-context-background-hover);
 * }
 *
 */
@function color-mix-alpha($background-color, $opacity-color) {
  $complement-variable-name: $opacity-color + '-complement';
  $complement-percentage: calc(var($complement-variable-name) * 100%);
  $alpha-percentage: calc(calc(1 - var($complement-variable-name)) * 100%);

  @return color-mix(
    in srgb,
    var($background-color) $complement-percentage,
    rgb(from var($opacity-color) r g b / 100%) $alpha-percentage
  );
}
