@use '../typography';
@use '../a11y';

.q-input {
  @include typography.font-definition(typography.$body-m, 'input-container');

  appearance: none;
  border-radius: var(--awds-input-container-border-radius, var(--ads-border-radius-s));
  border: none;
  display: inline-block;
  min-height: var(--awds-input-container-min-height, var(--ads-size-xl));
  max-height: var(--awds-input-container-max-height, none);
  min-width: var(--awds-input-container-min-width, auto);
  outline: none;
  padding: var(--awds-input-container-padding, var(--ads-size-micro) var(--ads-size-xxs));
  margin: var(--awds-input-container-margin, 0);
  width: var(--awds-input-container-width, 100%);

  background: var(--awds-input-container-background, var(--ads-color-body-100));
  color: var(--awds-input-container-color, var(--ads-color-body-contrast-100));
  box-shadow: var(
    --awds-input-container-box-shadow,
    inset 0 0 0 var(--ads-border-width-hairline) var(--ads-color-body-500)
  );

  &::placeholder {
    font-style: var(--awds-input-placeholder-font-style, italic);
    color: var(--awds-input-placeholder-color, var(--ads-color-body-600));
  }

  &:hover {
    box-shadow: var(
      --awds-input-hover-container-box-shadow,
      inset 0 0 0 var(--ads-border-width-hairline) var(--ads-color-body-600)
    );
    background: var(--awds-input-hover-container-background, var(--ads-color-body-100));
    color: var(--awds-input-hover-container-color, var(--ads-color-body-contrast-100));
  }

  &:focus {
    box-shadow: var(
      --awds-input-focus-container-box-shadow,
      inset 0 0 0 var(--ads-border-width-thin) var(--ads-color-primary-400)
    );
    background: var(--awds-input-focus-container-background, var(--ads-color-body-100));
    color: var(--awds-input-focus-container-color, var(--ads-color-body-contrast-100));
    transition: box-shadow 10ms;
  }

  &.q-input-invalid {
    background: var(--awds-input-invalid-container-background, var(--ads-color-body-100));
    color: var(--awds-input-invalid-container-color, var(--ads-color-body-contrast-100));
    box-shadow: var(
      --awds-input-invalid-container-box-shadow,
      inset 0 0 0 var(--ads-border-width-hairline) var(--ads-color-danger-400)
    );

    &:hover {
      background: var(--awds-input-invalid-hover-container-background, var(--ads-color-body-100));
      color: var(--awds-input-invalid-hover-container-color, var(--ads-color-body-contrast-100));
      box-shadow: var(
        --awds-input-invalid-hover-container-box-shadow,
        inset 0 0 0 var(--ads-border-width-hairline) var(--ads-color-danger-400)
      );
    }

    &:focus {
      background: var(--awds-input-invalid-focus-container-background, var(--ads-color-body-100));
      color: var(--awds-input-invalid-focus-container-color, var(--ads-color-body-contrast-100));
      box-shadow: var(
        --awds-input-invalid-focus-container-box-shadow,
        inset 0 0 0 var(--ads-border-width-thin) var(--ads-color-danger-400)
      );
    }
  }

  &[readonly] {
    background: var(--awds-input-readonly-container-background, var(--ads-color-body-200));
    color: var(--awds-input-readonly-container-color, var(--ads-color-body-contrast-100));
    box-shadow: var(
      --awds-input-readonly-container-box-shadow,
      inset 0 0 0 var(--ads-border-width-hairline) var(--ads-color-body-400)
    );

    &:hover {
      background: var(--awds-input-readonly-container-background, var(--ads-color-body-200));
      color: var(--awds-input-readonly-container-color, var(--ads-color-body-contrast-100));
      box-shadow: var(
        --awds-input-readonly-container-box-shadow,
        inset 0 0 0 var(--ads-border-width-hairline) var(--ads-color-body-400)
      );
    }

    &:focus {
      background: var(--awds-input-readonly-focus-container-background, var(--ads-color-body-200));
      color: var(--awds-input-readonly-focus-container-color, var(--ads-color-body-contrast-100));
      box-shadow: var(
        --awds-input-readonly-focus-container-box-shadow,
        inset 0 0 0 var(--ads-border-width-thin) var(--ads-color-primary-400)
      );
    }

    &::placeholder {
      color: var(--awds-input-readonly-placeholder-color, var(--ads-color-body-400));
    }
  }

  &.cdk-keyboard-focused:focus {
    @include a11y.q-focus-indicator();
  }

  &[disabled] {
    background: var(--awds-input-disabled-container-background, var(--ads-color-body-200));
    color: var(--awds-input-disabled-container-color, var(--ads-color-body-400));
    box-shadow: var(
      --awds-input-disabled-container-box-shadow,
      inset 0 0 0 var(--ads-border-width-hairline) var(--ads-color-body-400)
    );
    opacity: var(--awds-input-disabled-container-opacity, 1);

    &:hover {
      background: var(--awds-input-disabled-container-background, var(--ads-color-body-200));
      color: var(--awds-input-disabled-container-color, var(--ads-color-body-400));
      box-shadow: var(
        --awds-input-disabled-container-box-shadow,
        inset 0 0 0 var(--ads-border-width-hairline) var(--ads-color-body-400)
      );
    }

    &::placeholder {
      color: var(--awds-input-disabled-placeholder-color, var(--ads-color-body-400));
    }
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}
