.q-scroll-shadow {
  overflow: auto;

  $topShadow: var(
    --awds-scroll-shadow-top-container-box-shadow,
    inset 0 8px 8px -8px rgba(0, 0, 0, 0.08)
  );
  $bottomShadow: var(
    --awds-scroll-shadow-bottom-container-box-shadow,
    inset 0 -8px 8px -8px rgba(0, 0, 0, 0.08)
  );

  &.q-shadow-top {
    box-shadow: $topShadow;
  }

  &.q-shadow-bottom {
    box-shadow: $bottomShadow;
  }

  &.q-shadow-top.q-shadow-bottom {
    box-shadow: $topShadow, $bottomShadow;
  }
}
