$q-focus-indicator-inner-width: var(--ads-size-quark);
$q-focus-indicator-outer-width: var(--ads-size-quark);
$q-focus-indicator-inner-color: var(--ads-color-focus-indicator-contrast-400);
$q-focus-indicator-outer-color: var(--ads-color-focus-indicator-400);
